/* Color Theme Swatches in Hex */
.cor1 { color: #444056; }
.cor2 { color: #A59E96; }
.cor3 { color: #585857; }
.cor4 { color: #F1F1F3; }
.cor5 { color: #414141; }

#body{
    width: 100%;
}

.header{
    background-color:#444056;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

#logotipo{
    display: inline-block;
    color:#F1F1F3;
    padding-left: 10px;
    position: relative;
    left: 0px;
}

#menu-box{
    display: inline-block;
    color: #F1F1F3;
    position: absolute;
    right: 0px;
    bottom: 30%;
    margin-right: 10px;
}

.menu-link{
    color: #F1F1F3;
    font-size: medium;
}

 .footer{
     background-color:#444056;
     position: fixed;
     bottom: 0px;
     left: 0px;
     width: 100%;

 }

 .footer-centralizado{
    text-align: center;
    display: block;

 }

 .footer-texto{
     color:#F1F1F3
 }

 #footer-redes-sociais{
     width: 16px;
 }