#container-video-e-descricao{
    display: flex;
    flex-direction: column;
    width: 50%;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

#container-video-e-descricao h1{
    margin: 1vw 0;
    padding: 0 1vw;
}

#container-video-e-descricao p{
    margin: 0 0 1vw 0;
    padding: 0 1vw;
}

#botao-voltar{
    display: inline;
    text-decoration: none;
    color: #45525b;
    margin: 0 0 0.5vw 0.5vw;

}

#botao-voltar:hover{
    text-decoration: none;
    font-weight: bolder;
}

#botao-voltar:active{
    text-decoration: none;
    font-weight: normal;
}

#botao-voltar:visited{
    display: inline;
    text-decoration: none;
    color: #45525b;
    margin: 0 0 0.5vw 0.5vw;
}